---
---

@import 'framalibre-common';

#f-page {
  article.notice{
    .notice-logo {
      width: 100%;
      object-fit: contain;
      max-height: 9rem;
      margin-bottom: 2rem;
    }

    a.tag {
      color: var(--f-f8);
      border: 1px solid var(--f-f8);

      &:hover,
      &:active {
        color: var(--f-g2);
        background-color: var(--f-f8);
      }
    }

      .logo-lien{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          & > * {
              flex: 1;
          }

          img{
              object-fit: scale-down;
              max-width: 50%;
              max-height: 10rem;
          }


          a{
              max-width: 13rem;
              margin: 0 0.5rem;
          }
      }

      h1 {
        margin-bottom: 2rem;

        @media (min-width: 768px) {
          margin-bottom: 3rem;
        }
      }

      h2 {
          display: inline;
          font-weight: bold;
          font-size: 1.3rem;
          font-family: Tovari Sans,sans-serif;
      }

      section {
          margin-bottom: 1rem;

          ul {
              margin-top: 0.5rem;

              li {
                  margin-bottom: 1rem;
              }
          }
        }
    section.description {
      ul {
        margin-bottom: 2rem;
      }
      
      li {
        margin-bottom: .5rem;
        list-style: disc;
        margin-left: 1em;
      }
    }
      
  }

  .btn {
    font-weight: 700;
  }

  .action-bas{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    a:first-of-type{
      padding: 1rem;
    }

    a:last-of-type{
      margin-left: auto;
    }

    a.simple-link {
      color: #1f1f1f;
      text-decoration: none;
      background-image: linear-gradient(#fc8e3a, #fc8e3a), linear-gradient(#a0aec0, #a0aec0);
      background-size: 0% 2px, 100% 2px;
      background-position: center bottom, center bottom;
      transition: background-size 0.25s ease-in-out;
      background-repeat: no-repeat;
      padding: 2px 0;
      margin-right: 1rem !important; // override some framasoft css
      margin-left: 1rem !important; // override some framasoft css
    }

    a.simple-link:hover {
      color: #1a202c;
      text-decoration: none;
      background-size: 100% 2px;
    }

    .html-copy{
      z-index: 1;
      position: relative;
      font-size: inherit;
      font-family: inherit;

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--f-o8);
        transform-origin: center right;
        transform: scaleX(0);
        transition: transform 0.4s ease-in-out;
      }
        
      &.animate{
        color: white;
      }

      &.animate::before {
        transform-origin: center left;
        transform: scaleX(1);
      }
    }
  }
}
